@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
h1 {
    font-family: 'Bungee Spice', cursive;

}

a {
    font-family:'Bungee Spice';
    text-decoration:none

}
p {
    font-family: 'Titan One', cursive;
    color:coral
}

body {
    font-family: 'Titan One';
    background-color:black
}

a:hover {
    background-color:gold
}

a:hover{
    text-decoration:underline;
    text-decoration-color:blueviolet
}