@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
h1 {
    font-family: 'Titan One', cursive;
    color: chocolate;

}

a {
    font-family:'Titan One';
    text-decoration:none

}
p {
    font-family: 'Titan One', cursive;
    color:chocolate
}

body {
    font-family: 'Titan One';
    background-color:bisque;
    margin: 0;
}

main {
    max-width: 700px;
    margin: 0 auto;
}

a:hover {
    background-color:gold
}

a:hover{
    text-decoration:underline;
    text-decoration-color:blueviolet
}

#header {
    text-align: center;
}

.center {
    text-align:center;
}
#navbar {
    background-color:burlywood
}

#navbar > a {
    color:chocolate;
    padding: 8px;
    display:inline-block;
}

#navbar > a:hover {
    background-color:gold;
}

input[type=text] {
    width: 400px;
    padding: 4px;
    border: 4px chocolate solid;
    border-radius: 16px;
    border-bottom: 16px;
}
input[type=text]:focus {
    width: 400px;
    padding: 4px;
    border: 4px gold solid;
    border-radius: 32px;
    border-bottom: 16px;
}

input[type=submit] {
    width: 100px;
    background-color:burlywood;
    padding: 8px;
    border-radius: 16px;
    border: 4px chocolate solid;
}

input[type=Reset] {
    width: 100px;
    background-color:burlywood;
    padding: 8px;
    border-radius: 16px;
    border: 4px chocolate solid;
}